<div>
  <mat-form-field class="example-form-field" appearance="standard">
    <input matInput type="text" [(ngModel)]="value" placeholder="Nombre de usuario">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" aria-label="Search" (click)="searchUser()">
    BUSCAR
  </button>
  <div class="help-text" *ngIf="showHelpText">
    <span>Puedes iniciar colocando el nombre de usuario.</span>
  </div>
</div>

<div class="grid-container" *ngIf="results.length">
  <mat-card class="user-card" *ngFor="let item of (results | slice: 0 : 10)"
    [matTooltip]="'Repositorios: ' + item.repos">
    <div class="card-image-container">
      <img mat-card-md-image mat-card-avatar [src]="item.avatar_url">
    </div>
    <mat-card-title-group>
      <mat-card-subtitle class="card-title">@{{ item.login }}</mat-card-subtitle>
      <mat-card-subtitle>ID: {{ item.id }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-actions>
      <button mat-button color="primary" (click)="goToDetail(item.login)">Más Info</button>
    </mat-card-actions>
  </mat-card>
</div>

<div 
  class="initial-message" 
  *ngIf="!results.length" 
>
  <img 
    width="300" 
    src="../../../../assets/images/search_illustration.svg" 
    alt=""
    (mouseover)="showHelpText = true" 
    (mouseout)="showHelpText = false"
  >
  <h2>Comienza tu búsqueda!</h2>
</div>